body {
    height: 100%;
    width: 100%;
    background-color: lightgray;
}

.box {
    background-color: white;
 background: repeating-linear-gradient(rgb(204, 206, 92), rgb(230, 206, 96) 25px, #9198e5 26px, #9198e5 27px);
    height: 700px;
    width: 500px;
    margin: auto;
    position: relative;
    border: solid 1px rgba(59, 57, 57, 0.223);
    border-radius: 15%;
    box-shadow: 0px 2px 4px gray;
    display: flex;
    justify-content: center;
}

.content {
    position: absolute;
    padding-top: 30px;
}

.title {
    text-align: center;
    font-family: 'Annie Use Your Telescope'; 
    margin-bottom: 10px;
}

#todo-form {
    display: flex wrap;
    align-items: center;
}

#sub {
    width: 300px;
    margin-top: 10px;
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    background-color: rgb(32, 114, 32);
    border: solid 1px lightgray;
    border-radius: 4px;
    box-shadow: 1px 2px 2px rgb(127, 133, 219);
    font-size: large;
    color: white;
    text-shadow: 1px 1px 1px gray;
    transition: 0.3s;
}

#todo {
    border: solid 1px rgb(212, 107, 37);
    height: 50px;
    width: 300px;
    border-radius: 7px;
    background-image: linear-gradient(to right bottom,  rgb(179, 151, 206), lightgray);
    box-shadow: inset 2px 2px 4px gray;
}

ul {
    padding: 0%;
}

ul li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid 1px rgb(179, 169, 169);
    border-radius: 4px;
    margin-bottom: 3px;
    display: flex;
    background-color: white;
    height: 30px;
    align-items: center;
    width: 280px;
    background-color: rgba(64, 225, 107, 0.96);
    padding-left: 20px;
    box-shadow: 0 2px 4px gray;
    transition: 0.5s;
}

ul li:hover {
    transform: scale(1.05);
    background-color: rgba(18, 210, 69, 0.96);
}

ul li:active {
    box-shadow: inset 0 2px 4px gray;
}

#sub:hover {
    transform: scale(1.05);
}

#sub:active {
    box-shadow: inset 0 4px 8px black;
    transform: scale(1);
}

